$corners: 25px;
$background-color: #242424;
$color: white;
$primary: orange;
$shadow-light: darkgrey;
$shadow-dark: grey;

#root {
  margin: 0 auto;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-aic-jcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  height: 30vh;
  border-radius: $corners 0 $corners $corners;
  overflow: hidden;
  position: relative;
}

.reset {
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: darkgrey;
  border-radius: 0px 0px 0px $corners;
  position: absolute;
  color: red;
}

.display-input,
.display-output {
  height: 30vh;
  background-color: darkgreen;
  padding: 0.5rem;

  & img {
    max-height: 20vh;
    width: auto;
    margin-top: 5vh;
    position: relative;
    z-index: 1;
  }
}

.display-input {
  direction: ltr;
  text-align: left;

  & img {
    left: 55px;
    margin-left: -55px;
  }
}
.display-output {
  text-align: center;
}

.keyboard {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: $background-color;
}

.keyboard-wrap-suit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.keyboard-wrap-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.suitBtn,
.cardBtn {
  background-color: $shadow-light;
  margin: 0.25rem;
  width: min(20vw, 100px);
  height: min(20vw, 100px);
  border-radius: $corners;
  font-size: xx-large;
  color: $color;
  border: 1px solid transparent;
  transition: border-color 0.25s;

  & svg {
    height: 100%;
    width: calc(100% - 4px);
    padding: 0 2px;
  }
}

.suitBtn:focus,
.suitBtn:focus-visible {
  border: 1px solid orange;
  outline: 4px auto -webkit-focus-ring-color;
}

.cardBtn:focus,
.cardBtn:focus-visible {
  border: 1px solid orange;
  outline: 4px auto -webkit-focus-ring-color;
}

.cardBtn {
  background-color: $shadow-dark;
}

.next {
  background-color: $primary;
}

.long {
  background-color: $primary;
  grid-column: span 2;
  width: min(calc(40vw + 0.5rem), calc(200px + 0.5rem));
}

// @media (min-width: 600px) and (orientation: portrait) {

// }
